<!DOCTYPE html>
<head>
	<title>ALPACA Sandbox</title>
<!--<script src ="{{ url_for('static', filename='life1.js') }}"></script>-->
<script>
	{{ js_code | safe}}
	{{ states | safe}}
</script>

<script src ="{{ url_for('static', filename='playfield.js') }}"></script>
<script src ="{{ url_for('static', filename='sandbox.js') }}"></script>
<script src ="{{ url_for('static', filename='lib/codemirror.js') }}"></script>
<script src ="{{ url_for('static', filename='lib/simple.js') }}"></script>
<script src ="{{ url_for('static', filename='lib/alpaca.js') }}"></script>


<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"/>

<script src="{{ url_for('static', filename='lib/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/popper.min.js') }}" ></script>
<script src="{{ url_for('static', filename='lib/bootstrap.min.js')}}"></script>

<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='lib/codemirror.css') }}" rel="stylesheet" />

</head>
<body onload="onload()">
	<div id="header">
	<div class="title"><h1 class="title"><a href="/">ALPACA Sandbox</a></h1></div>
	<div class="menu">
		
		<nav class="navbar navbar-expand-lg ">
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Examples
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="#">WireWorld</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="#">Something else here</a>
					</div>
				  </li>
				<li class="nav-item active">
				  <a class="nav-link" href="#">What is ALPACA?</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Docs</a>
				</li>
				
			  </ul>
			  
			</div>
		  </nav>
	</div>
	</div>
	<div id="main-block">
	<div id="pf-div" class="charPosition">
	<span class="error-msg">{{ error }}</span>
	</div>
	<div id="editor">
		<form method="post" action="compile" id="editor-form">
		<textarea spellcheck="false" class="editor-textarea" id="editor-textarea" name="code" class="textarea">
			{{ alp_code }}
		</textarea>
		<div id="code-buttons">
		<button id="compile-button" class=" btn-primary">Run</button>
		<button id="download-button" class=" btn-primary">Download code</button>
		</div>
		</form>
	</div>
	</div>
	<div id="controls">
	<button id="start" class="btn btn-class-primary" onclick="step()">➡️ Step</button><br/>
   	<button id="run"  class="btn btn-class-primary"onclick="setTimer()">▶️ Start</button><br/>
   	<button id="stop" class="btn btn-class-primary" onclick="stopTimer()">⏹ Stop</button><br/>
   	<button id="clear" class="btn btn-class-primary" onclick="reset()">❌ Reset</button>
	
	<input type="range" id="speed" min="10" max="200" />
	<div class="d-flex align-items-center ms-1" id="speed-value">100 ms</div>
	<div class="vr"></div>
	<div id="palette">
		
	</div>
	</div>
	
	<script>
		var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("editor-textarea"), {
    lineNumbers: true,
	mode: "alpaca"
  });
	</script>
</body>