<!DOCTYPE html>
<head>
	<title>ALPACA Sandbox</title>
<!--<script src ="{{ url_for('static', filename='life1.js') }}"></script>-->
<script>
	{{ js_code | safe}}
	{{ states | safe}}
</script>
<script src ="{{ url_for('static', filename='playfield.js') }}"></script>
<script src ="{{ url_for('static', filename='sandbox.js') }}"></script>


<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
<body onload="onload()">
	<h1 class="title"><a href="/">ALPACA Sandbox</a></h1>
	<div id="main-block">
	<div id="pf-div" class="charPosition">
	
	</div>
	<div id="editor">
		<form method="post" action="compile" id="editor-form">
		<textarea class="editor-textarea" name="code" class="textarea">
			{{ alp_code }}
		</textarea>
		<button id="compile-button">Compile</button>
		</form>
	</div>
	</div>
	<div id="controls">
	<button id="start" onclick="step()">Step</button><br/>
   	<button id="run" onclick="timer = window.setInterval(step, 100);">Start</button><br/>
   	<button id="stop" onclick="clearInterval(timer)">Stop</button><br/>
   	<button id="clear" onclick="reset()">Clear</button>
	</div>
	<div id="palette">
		
	</div>
</body>